.dropdown-menu1{
    width: 180px;
    position: absolute;
    z-index: 1;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu1 li {
    background-color: #1888ff;
    cursor: pointer;
}
.dropdown-menu1 li:hover{
    background-color: #090909;
}
.dropdown-menu1.clicked{
    display: none;
}
.dropdown-link{
    display: block ;
    width: 100%;
    height: 100%;
    text-decoration: none ;
    color:#fff;
    padding: 16px;
}
.dropdown-link:hover{
    color: #fff;
    text-decoration: none ;
}